.container__image{
display: flex;
justify-content: flex-start;
align-items: center;
    img{
        width: 200px;
}
}

.input-qty{
    width: 100px;
    text-align: center;
    font-family: $fontText;
    font-weight: 700;
    font-size: 20px;
    color: $gray-700;
}

.product__name, .total{
    font-family: $fontText;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: $blue;
    letter-spacing: 1px;
    
}

.product__price, .total__price{
    font-family: $fontText;
    font-weight: 700;
    text-align: center;
    color: $gray-700;
}
